<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NoBroker Automation Suite" parallel="false">
  <!-- Suite for running NoBroker Profile test cases -->

  <listeners>
    <listener class-name="com.nobroker.listeners.AnnotationListener" />
  </listeners>

  <test name="Profile Functional Tests">
    <!-- Browser and test data parameters -->
    <parameter name="Browser" value="edge" />
    <parameter name="city" value="Mumbai" />
    <parameter name="locality1" value="airoli" />
    <parameter name="locality2" value="rabale" />
    <parameter name="locality3" value="thane" />

    <classes>
      <class name="com.nobroker.test.Profile">
        <methods>
          <!-- Uncomment to run all or specific test cases -->
          <include name="validInputTest" />
          <include name="invalidInputSearch" />
          <include name="validSearchWithLocalities" />
          <include name="validSearchWith4Localities" />
          <include name="validFilters" />
          <include name="resetFilters" />
          <include name="getOwnerDetailsWithoutLogin" />
          <include name="getOwnerDetailsWithLogin" />
          <include name="sortProperties" />
        </methods>
      </class>
    </classes>
  </test>
</suite>